<div class="container-fluid">
  <app-developer-profile-card *ngFor="let data of customers | paginate: { itemsPerPage: productsPerPage, currentPage: currentPage, totalItems: totalProducts }; let i = index" [data]="data"></app-developer-profile-card>
</div>

<div class="pagination-container">
  <pagination-controls
    class="data-pagination"
    [autoHide]="true"
    [maxSize]="15"
    (pageChange)="onPageChanged($event)">
  </pagination-controls>
</div>     <!-- END PAGINATION -->


<!-- LOADING TEMPLATE -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.5)" size="medium" color="#fff" type="ball-atom" [fullScreen]="false">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
