.catagory{
  width: 30%;
  margin: 0 auto;
}
.catagory-part{
  text-align: center;
}
img{

  width: 200px;
  height: 200px;
}

.sub{
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.sub-one{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50%;
}
.sub-two{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50%;
}
.sub-three{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50%;
}
.sub-four{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50%;
}
.sub-text{
  text-align: center;
}
