<div class="catagory">
  <div class="catagory-part" >
    <img class="catagory-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" alt="">

    <h2 class="header">ANGULAR</h2>
  </div>
  <div class="sub">
    <div class="sub-one">
      <h3>angular</h3>
    </div>
    <div class="sub-two">
      <h3 class="sub-text">angular</h3>
    </div>
    <div class="sub-three">
      <h3 class="sub-text">angular</h3>

    </div>
    <div class="sub-four">
      <h3 class="sub-text">angular</h3>

    </div>

  </div>
</div>
