


<section class="admin-data-sec">
  <div class="top-data-header">
    <div class="title">
      <h2>Tags</h2>
    </div>

    <form class="table-search" #searchForm=ngForm>
      <input type="text"
             #searchInput
             name="searchTerm"
             autocomplete="off"
             ngModel placeholder="Search">
      <button><i class="fa fa-search"></i></button>
    </form>

    <div class="action">

      <div class="sort">
        <button mat-raised-button color="primary" [matMenuTriggerFor]="menuSort">
          Sort By
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menuSort="matMenu">
          <button mat-menu-item (click)="sortData({title: 1}, 1)" [class.dropdown-active]="activeSort === 1">A-Z</button>
          <button mat-menu-item (click)="sortData({updatedAt: -1}, 2)" [class.dropdown-active]="activeSort === 2">Last Update</button>
        </mat-menu>
      </div>

      <button type="button" mat-raised-button color="primary" [routerLink]="['../', 'add-new-tag']">
        <mat-icon>add</mat-icon>
        Add New
      </button>

    </div>

  </div> <!-- END TOP DATA HEADER -->

  <hr class="center-square">

  <div class="table-wrapper space">

    <div class="table-action" [class.dual]="activeSort || filter.length">
      <div class="left" *ngIf="activeSort || filter.length">
        <button mat-stroked-button color="accent" (click)="onRemoveAllQuery()">
          <mat-icon>close</mat-icon> Clear Filter
        </button>
      </div>

      <div class="right" *ngIf="selectedIds && selectedIds.length">
        <button mat-stroked-button color="primary" [matMenuTriggerFor]="menu">
          Change Status
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openConfirmDialog('edit', {body: 'Unpublish'})">Unpublish</button>
          <button mat-menu-item (click)="openConfirmDialog('edit', {body: 'Publish'})">Publish</button>
        </mat-menu>

        <button mat-stroked-button color="warn" (click)="openConfirmDialog('delete')">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div> <!-- END Table Action -->

    <table>
      <tr>
        <th class="t-checkbox">
          <mat-checkbox #matCheckbox (change)="onAllSelectChange($event)"></mat-checkbox>
        </th>
        <th>Name</th>
        <th>Slug</th>
        <th>createdAt</th>
        <th>Actions</th>
      </tr>
      <tr
        *ngFor="let data of tags | paginate: { itemsPerPage: productsPerPage, currentPage: currentPage, totalItems: totalProducts } ; let i = index">
        <td class="t-checkbox">
          <mat-checkbox class="t-mat-checkbox" [(ngModel)]="data.select"
                        (ngModelChange)="onCheckChange($event, i, data._id)"></mat-checkbox>
        </td>
        <td>{{data.tagName}}</td>
        <td>{{data.tagSlug}}</td>
        <td>{{data.createdAt | date}}</td>
        <td class="td-action">
          <button [routerLink]="['../', 'edit-tag', data?._id]" mat-mini-fab>
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </div>

  <div class="pagination-container">
    <pagination-controls
      class="data-pagination"
      [autoHide]="true"
      [maxSize]="15"
      (pageChange)="onPageChanged($event)">
    </pagination-controls>
  </div>     <!-- END PAGINATION -->


  <!-- LOADING TEMPLATE -->
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.5)" size="medium" color="#fff" type="ball-atom" [fullScreen]="false">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>

</section>



