@import 'src/theme/variables';


.exprience-section-1{
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-bottom: 4vh;
}
.resume-card-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    width: 100%;
    box-sizing: border-box;
    height: auto;
}
@media(max-width:800px){
    .resume-card-area{
        grid-template-columns: repeat(1, 1fr);
    }
}
