<div class="section3-main">
  <!--section-3-title-->
  <div class="section3-title">
    <h2><span><i class="fa fa-th-large"></i></span> Surfing on categories</h2>
  </div>
  <!--section3-tag-menu-->
  <div class="section3-tag-menu">
    <ul>
      <li><a href="javascript:">Shop <span><i class="fa fa-arrow-right"></i></span></a></li>
      <li><a href="javascript:">Shop <span><i class="fa fa-arrow-right"></i></span></a></li>
      <li><a href="javascript:">Shop <span><i class="fa fa-arrow-right"></i></span></a></li>
      <li><a href="javascript:">Shop <span><i class="fa fa-arrow-right"></i></span></a></li>
      <li><a href="javascript:">Shop <span><i class="fa fa-arrow-right"></i></span></a></li>
      <li><a href="javascript:">Shop <span><i class="fa fa-arrow-right"></i></span></a></li>
      <li><a href="javascript:">Shop <span><i class="fa fa-arrow-right"></i></span></a></li>
    </ul>
  </div>

</div>
