<!---main-container-area-->
<section class="main-container">

   <!---exprience-section1-->
   <section class="exprience-section-1">
        <!--quesion-->
        <div class="question">
            <!--icon-->
            <div class="question-icon">
                <i class="fa fa-book-open"></i>
            </div>
            <!--quesion-text-->
            <div class="question-text">
                <span>Education & Experience</span>
            </div>
        </div><!--quesion-end-->
        <!---section-header--->
        <div class="section-header">
            <h2>Resume</h2>
        </div><!---section-header--->

        <!--resume-card-area-->
        <div class="resume-card-area">
            <!--resume-card-->
            <app-resume-card [resumeCardData]="resumeCardData" *ngFor="let resumeCardData of resumeCardArray"></app-resume-card>
        </div> <!--resume-card-area-end-->

   </section>   <!---exprience-section1-end-->

</section><!---main-container-area-end-->
