<!---main--container-->
<section class="main-container">
    <!--home-header--->
    <div class="home-header-area">
        <ul>
            <li><a href="tel:+1-202-555-0135"><span><i class="fa fa-mobile-alt"></i></span>{{portfolio?.phoneNo}}</a></li>
            <li><a href="mailto:hello@example.com"><span><i class="fa fa-envelope"></i></span>{{portfolio?.email}}</a></li>
        </ul>
    </div>
    <!---banner-area-->
    <div class="banner-area">
        <div class="hello-area">
            <div class="hello-img">
                <img src="/assets/images/junk/wave.png" alt="">
            </div>
            <div class="hello-title">
                <span>HELLO!</span>
            </div>
        </div>
        <!--title-->
        <div class="banner-title">
            <h2>I'm {{portfolio?.name}}.</h2>
        </div>
        <!--description-->
        <div class="banner-description">
            <p>{{portfolio?.introBio}}</p>
        </div>
        <!---banner-btn-->
        <ul class="banner-btn">
            <li><a routerLink="/contact">Hire Me</a></li>
            <li><a routerLink="/works">View Works <span><i class="fa fa-arrow-right"></i></span></a></li>
        </ul>
    </div>



</section>
