<!-- -about-page-area-->
<section class="main-container">

  <!---about-section1-->
  <section class="about-section-1">

    <!--quesion-->
    <div class="question">
      <!--icon-->
      <div class="question-icon">
        <i class="fa fa-user"></i>
      </div>
      <!--quesion-text-->
      <div class="question-text">
        <span>Who am I?</span>
      </div>
    </div><!--quesion-end-->
    <!---section-header--->
    <div class="section-header">
      <h2>About Me</h2>
    </div><!---section-header--->


    <!---about-section1-main-->
    <div class="about-section1-main">
      <!--about-section1-img-->
      <div class="about-section1-img">
        <img src="/assets/images/junk/about.png" alt="about.png">
      </div>
      <!---about-section1-details-->
      <div class="about-section1-details">
        <!--bio-->
        <div class="bio">
          <!---bio-title-->
          <div class="bio-title">
            <h3>Bio</h3>
          </div>
          <!---bio-description-->
          <div class="bio-description">
            <p>I am Shamim Hossain, web designer from Bangladesh, Feni. I have rich experience in web
              site design and building and customization, also I am good at WordPress.
              love to talk with you about our unique.<img src="/assets/images/junk/smile.png" alt=""></p>

          </div>
        </div> <!--bio-end-->

        <!--age-email-details--->
        <div class="other-dertails-area">
          <!---other-details-colum1-->
          <div class="other-details-colum1">
            <!--age-->
            <div class="other-details-main">
              <!--other-details-left-->
              <div class="other-details-left">
                <span>Age</span>
              </div>
              <div class="other-details-right">
                <span>28</span>
              </div>
            </div>
            <!--Residence-->
            <div class="other-details-main">
              <!--other-details-left-->
              <div class="other-details-left">
                <span>Residence</span>
              </div>
              <div class="other-details-right">
                <span>USA</span>
              </div>
            </div>

          </div><!---other-details-colum-1-end-->

          <!---other-details-colum2-->
          <div class="other-colum2">
            <!--Email-->
            <div class="other-details-main">
              <!--other-details-left-->
              <div class="other-details-left">
                <span>Email</span>
              </div>
              <div class="other-details-right">
                <span>hello@example.com</span>
              </div>
            </div>
            <!--Phone-->
            <div class="other-details-main">
              <!--other-details-left-->
              <div class="other-details-left">
                <span>Phone</span>
              </div>
              <div class="other-details-right">
                <span>+1-202-555-0135</span>
              </div>
            </div>

          </div> <!---other-details-colum2-end-->
        </div> <!--age-email-details--->

        <!---cv-download-btn-->
        <div class="cv-download-btn">
          <a href="#">Download CV <i class="fa fa-download"></i></a>
        </div>


      </div><!---about-section1-details-end-->
    </div><!---about-section1-main-->

  </section><!---about-section1-end-->


  <!---about-section-2-->
  <section class="about-section-2">
    <!--quesion-->
    <div class="question">
      <!--icon-->
      <div class="question-icon">
        <i class="fa fa-medal"></i>
      </div>
      <!--quesion-text-->
      <div class="question-text">
        <span>Achievements</span>
      </div>
    </div><!--quesion-end-->
    <!---section-header--->
    <div class="section-header">
      <h2>Fun Facts</h2>
    </div><!---section-header--->

    <!---about-section2-main-area-->
    <div class="about-section2-main">
      <app-fun-facts-card [funFactCardData]="funFactCardData"
                          *ngFor="let funFactCardData of funFactCardArray"></app-fun-facts-card>
    </div> <!---about-section2-main-area-end-->
  </section>  <!---about-section2-main-area -->


  <!---about-section-3-->
  <section class="about-section-3">
    <!--quesion-->
    <div class="question">
      <!--icon-->
      <div class="question-icon">
        <i class="fa fa-medal"></i>
      </div>
      <!--quesion-text-->
      <div class="question-text">
        <span>What can I do?</span>
      </div>
    </div><!--quesion-end-->
    <!---section-header--->
    <div class="section-header">
      <h2>My Skills</h2>
    </div><!---section-header--->

    <!--about-section-3-main-->
    <div class="about-section3-main">
      <app-skill-details [skillData]="skillData" *ngFor="let skillData of skillDataArray"></app-skill-details>
    </div>

  </section><!---about-section-3-end-->


</section><!--main-cotainer-end-->
