<!-- -about-page-area-->
<section class="main-container">

  <!---about-section1-->
  <section class="about-section-1">

    <!--quesion-->
    <div class="question">
      <!--icon-->
      <div class="question-icon">
        <i class="fa fa-user"></i>
      </div>
      <!--quesion-text-->
      <div class="question-text">
        <span>Who am I?</span>
      </div>
    </div><!--quesion-end-->
    <!---section-header--->
    <div class="section-header">
      <h2>About Me</h2>
    </div><!---section-header--->


    <!---about-section1-main-->
    <div class="about-section1-main">
      <!--about-section1-img-->
      <div class="about-section1-img">
        <img src="/assets/images/junk/about.png" alt="about.png">
      </div>
      <!---about-section1-details-->
      <div class="about-section1-details">
        <!--bio-->
        <div class="bio">
          <!---bio-title-->
          <div class="bio-title">
            <h3>Bio</h3>
          </div>
          <!---bio-description-->
          <div class="bio-description">
            <p>{{portfolio?.bio}}<img src="/assets/images/junk/smile.png" alt=""></p>

          </div>
        </div> <!--bio-end-->

        <!--age-email-details--->
        <div class="other-dertails-area">
          <!---other-details-colum1-->
          <div class="other-details-colum1">
            <!--age-->
            <div class="other-details-main">
              <!--other-details-left-->
              <div class="other-details-left">
                <span>Age</span>
              </div>
              <div class="other-details-right">
                <span>{{portfolio?.age}}</span>
              </div>
            </div>
            <!--Residence-->
            <div class="other-details-main">
              <!--other-details-left-->
              <div class="other-details-left">
                <span>Residence</span>
              </div>
              <div class="other-details-right">
                <span>{{portfolio?.residence}}</span>
              </div>
            </div>

          </div><!---other-details-colum-1-end-->

          <!---other-details-colum2-->
          <div class="other-colum2">
            <!--Email-->
            <div class="other-details-main">
              <!--other-details-left-->
              <div class="other-details-left">
                <span>Email</span>
              </div>
              <div class="other-details-right">
                <span>{{portfolio?.email}}</span>
              </div>
            </div>
            <!--Phone-->
            <div class="other-details-main">
              <!--other-details-left-->
              <div class="other-details-left">
                <span>Phone</span>
              </div>
              <div class="other-details-right">
                <span>{{portfolio?.email}}</span>
              </div>
            </div>

          </div> <!---other-details-colum2-end-->
        </div> <!--age-email-details--->

        <!---cv-download-btn-->
        <div class="cv-download-btn">
          <a [href]="portfolio?.cvLink" target="_blank">Download CV <i class="fa fa-download"></i></a>
        </div>


      </div><!---about-section1-details-end-->
    </div><!---about-section1-main-->

  </section><!---about-section1-end-->



</section><!--main-cotainer-end-->
