<!--main-container-->
<section class="main-container">
    <!---chat-section1-->
    <section class="chat-section-1">
        <!---chat-top-area-->
        <div class="chat-top-area">
            <!---chat-title-->
            <div class="chat-title">
                 <!--quesion-->
                <div class="question">
                    <!--icon-->
                    <div class="question-icon">
                        <i class="fa fa-pencil-alt"></i>
                    </div>
                    <!--quesion-text-->
                    <div class="question-text">
                        <span>Message Me?</span>
                    </div>
                </div><!--quesion-end-->
                 <!---section-header--->
                <div class="section-header">
                    <h2>Message</h2>
                </div><!---section-header--->
            </div>
            <!--dotted-->
            <div class="chat-dotted">
                <span><i class="fa fa-ellipsis-v"></i></span>
            </div>
        </div> <!---chat-top-area-end-->

        <!--chat-main-area-->
        <div class="chat-main-area">
            <!---chat-form-->
            <div class="chat-form">
                <form action="#">
                    <!--show-msg-->
                    <div class="show-msg">
                        <!--ans-->
                        <div class="msg-ans">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id dolorum asperiores reiciendis. Facere, repellendus laboriosam?</p>
                        </div>
                        <!---quesition-->
                        <div class="msg-quesition">
                            <p>whats your name?</p>
                        </div>
                        <!--ans-->
                        <div class="msg-ans">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id dolorum asperiores reiciendis. Facere, repellendus laboriosam?</p>
                        </div>
                           <!---quesition-->
                           <div class="msg-quesition">
                            <p>whats your name?</p>
                        </div>
                        <!--ans-->
                        <div class="msg-ans">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id dolorum asperiores reiciendis. Facere, repellendus laboriosam?</p>
                        </div>
                           <!---quesition-->
                           <div class="msg-quesition">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores placeat libero tempore iste, dignissimos odit aliquid error praesentium quos architecto!</p>
                        </div>
                          <!---quesition-->
                          <div class="msg-quesition">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores placeat libero tempore iste, dignissimos odit aliquid error praesentium quos architecto!</p>
                        </div>
                          <!--ans-->
                          <div class="msg-ans">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id dolorum asperiores reiciendis. Facere, repellendus laboriosam?</p>
                        </div>
                    </div>
                    <!--msg-input-->
                    <div style="background-color: #fff; padding-top: 10px;">
                    <div class="msg-input">
                        <div class="file-input">
                            <button type="file"><i class="fa fa-paperclip"></i></button>
                        </div>
                        <div class="text-input-box">
                            <input type="text" value="" name="" placeholder="Write Message...">
                        </div>

                        <div class="msg-submit">
                            <button type="submit"><i class="fab fa-telegram-plane"></i></button>
                        </div>

                    </div>
                </div>
                </form>
            </div>
            <!--chat-user-info-->
            <div class="chat-user-info">
                <!--user-details-->
                <div class="user-details">
                    <!--user-img-->
                    <div class="user-img">
                        <img src="/assets/images/junk/about.png" alt="">
                    </div>
                    <div class="user-title">
                        <a href="#">Shamim hossain</a>
                        <span>Online</span>
                    </div>
                </div>
                <!--user-contact-->
                <div class="user-contact">
                    <ul>
                        <li>
                            <div class="contact-icon">
                                <i class="fa fa-phone-alt"></i>
                            </div>
                             <div class="contact-text">
                                 <a href="tel:01881325037">01881325037</a>
                             </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                             <div class="contact-text">
                                 <a href="mailto:autanber111@gmail.com">autanber111@gmail.com</a>
                             </div>
                        </li>
                    </ul>
                </div>
                 <!--user-document-->
                 <div class="user-document">
                     <h4> pdf document</h4>
                     <ul>
                        <li>
                            <div class="document-icon">
                                <i class="fa fa-file-pdf"></i>
                            </div>
                             <div class="document-text">
                                 <a href="#">Book List-1</a>
                             </div>
                        </li>
                        <li>
                            <div class="document-icon">
                                <i class="fa fa-file-pdf"></i>
                            </div>
                             <div class="document-text">
                                 <a href="#">Book List-2</a>
                             </div>
                        </li>
                        <li>
                            <div class="document-icon">
                                <i class="fa fa-file-pdf"></i>
                            </div>
                             <div class="document-text">
                                 <a href="#">Book List-3</a>
                             </div>
                        </li>
                     </ul>
                 </div>

            </div>
        </div>



    </section><!---chat-section1-end-->




</section>
