<section class="form-section">

  <div class="header-dialog">
    <h1>Sub Category</h1>
  </div>

  <form [formGroup]="dataForm" (ngSubmit)="onSubmit()"
        fxLayout="column"
        #templateForm="ngForm"
        fxLayoutAlign="space-around center">

    <mat-form-field appearance="outline">
      <mat-label>Category Name</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let data of categories" [value]="data._id">
          {{  data.categoryName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input formControlName="subCategoryName" matInput placeholder="Enter title">
    </mat-form-field>

    <button class="submit-btn" mat-raised-button color="primary" type="submit">
      <mat-icon>done</mat-icon>
      Save Data
    </button>
  </form>
</section>



<!-- LOADING TEMPLATE -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.5)" size="medium" color="#fff" type="ball-atom" [fullScreen]="false">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

