
<div class="container">

  <!--section1-main-->
  <div class="section1-main">
    <div class="section1-img">
      <a href="#"><img src="/assets/images/junk/blog-3-450x267.jpg" alt=""></a>
    </div>

    <div class="section1-details">
      <div class="new">
        <span>The newest</span>
      </div>
      <div class="section1-title">
        <a href>How Choose Bicycle For Spriling In Australia Shooping Centres?</a>
      </div>
      <div class="section1-description">
        <p>how Choose Bicycle For Spriling In Australia Shooping how Choose Bike For Spriling In Australia Shooping
          how Choose Bicycle For Choose Bicycle For Spriling In Australia Shooping..</p>
      </div>
      <!--section1-user-->
      <div class="section1-user">
        <div class="section1-user-img">
          <img src="/assets/images/junk/peter-100x100.jpg" alt="">
        </div>
        <div class="section1-user-details">
          <h3>By:<a href="#">Sebastian</a></h3>
          <span class="section1-activity">Just Now</span>
        </div>
      </div>
    </div>
  </div><!--section1-main-end-->

</div>
