<!---************* footer-area ***********-->
<footer class="footer-area">
  <div class="container">

    <!---footer-section1-->
    <div class="footer-section1">
      <!--footer-section1-support-->
      <div class="footer-section1-support">

        <!---footer-suport-details-->
        <div class="footer-section1-support-details">
          <!--support-icon-->
          <div class="support-icon">
            <span><i class="fa fa-layer-group"></i></span>
          </div>
          <!---support-title-->
          <div class="support-title">
            <h2>Shipping Tips</h2>
          </div>
          <!--support-description-->
          <div class="support-description">
            <p>Important Delivery Tips You May Need.</p>
          </div>
          <!---learn-more-support-->
          <div class="learn-more">
            <a href="#">Learn more <span><i class="fa fa-angle-right"></i></span></a>
          </div>
        </div><!---footer-suport-details-end-->


        <!---footer-suport-details-->
        <div class="footer-section1-support-details">
          <!--support-icon-->
          <div class="support-icon">
            <span><i class="fa fa-headphones"></i></span>
          </div>
          <!---support-title-->
          <div class="support-title">
            <h2>Support Tips</h2>
          </div>
          <!--support-description-->
          <div class="support-description">
            <p>Important Delivery Tips You May Need.</p>
          </div>
          <!---learn-more-support-->
          <div class="learn-more">
            <a href="#">Learn more <span><i class="fa fa-angle-right"></i></span></a>
          </div>
        </div><!---footer-suport-details-end-->


        <!---footer-suport-details-->
        <div class="footer-section1-support-details">
          <!--support-icon-->
          <div class="support-icon">
            <span><i class="fa fa-plane-departure"></i></span>
          </div>
          <!---support-title-->
          <div class="support-title">
            <h2>Order To Europe</h2>
          </div>
          <!--support-description-->
          <div class="support-description">
            <p>Important Delivery Tips You May Need.</p>
          </div>
          <!---learn-more-support-->
          <div class="learn-more">
            <a href="#">Learn more <span><i class="fa fa-angle-right"></i></span></a>
          </div>
        </div><!---footer-suport-details-end-->

      </div>
      <!--footer-newsletters-->
      <div class="footer-section1-newsletters">
        <!--news-letters-title-->
        <div class="footer-newsletters-title">
          <h2>Would You Like To Join Newsletters?</h2>
        </div>
        <!--newsletters-form-->
        <div class="news-letters-form">
          <form action="#">
            <div class="news-letters-email">
              <input type="email" name="newslettersEmail" value="" placeholder="enter your email address">
            </div>
            <div class="news-letters-submit">
              <button type="submit">Join</button>
            </div>
          </form>
        </div>
        <!---newsletters-description-->
        <div class="newsletters-description">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos eveniet eaque placeat voluptas corporis,
            cumque rem blanditiis quidem amet ut?</p>
        </div>

      </div><!---news-letters-end-->

    </div><!---footer-section1-end-->


    <!---footer-menu-->
    <div class="footer-menu">
      <div class="footer-menu-left">
        <ul>
          <li><a href="#">Electric Bikes <span><i class="fa fa-angle-right"></i></span></a></li>
          <li><a href="#">New Bike[Gen 2]</a></li>
        </ul>
      </div>
      <div class="footer-menu-right">
        <ul>
          <li><a href="#"><i class="fab fa-youtube"></i></a></li>
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>  <!---footer-menu-end-->

    <!---footer-section2-->
    <div class="footer-section-2">

      <!---footer-link-->
      <div class="footer-link">
        <!---footer-link-title-->
        <div class="footer-link-title">
          <h2>Products</h2>
        </div>

        <div class="footer-link-items">
          <ul>
            <li><a href="#">Xtreme <span><i class="fa fa-angle-right"></i></span></a></li>
            <li><a href="#">Rover <span><i class="fa fa-angle-right"></i></span></a></li>
            <li><a href="#">Classx <span><i class="fa fa-angle-right"></i></span></a></li>
            <li><a href="#">Classimo <span><i class="fa fa-angle-right"></i></span></a></li>
            <li><a href="#">Nue Bike[Gen 2] <span><i class="fa fa-angle-right"></i></span></a></li>
            <li><a href="#">Nue Bike[Gen 1] <span><i class="fa fa-angle-right"></i></span></a></li>

          </ul>
        </div>

      </div><!---footer-link-end-->

      <!---footer-link-->
      <div class="footer-link">
        <!---footer-link-title-->
        <div class="footer-link-title">
          <h2>Dirodi Services</h2>
        </div>

        <div class="footer-link-items">
          <ul>
            <li><a href="#">Xtreme <span><i class="fa fa-angle-right"></i></span></a></li>
            <li><a href="#">Rover <span><i class="fa fa-angle-right"></i></span></a></li>
            <li><a href="#">Classx <span><i class="fa fa-angle-right"></i></span></a></li>
            <li><a href="#">Classimo <span><i class="fa fa-angle-right"></i></span></a></li>
            <li><a href="#">Nue Bike[Gen 2] <span><i class="fa fa-angle-right"></i></span></a></li>
            <li><a href="#">Nue Bike[Gen 1] <span><i class="fa fa-angle-right"></i></span></a></li>

          </ul>
        </div>

      </div><!---footer-link-end-->


      <!---footer-link-->
      <div class="footer-link">
        <!---footer-link-title-->
        <div class="footer-link-title">
          <h2>Support</h2>
        </div>

        <div class="footer-link-items">
          <ul>
            <li><a href="#">Xtreme <span><i class="fa fa-angle-right"></i></span></a></li>
            <li><a href="#">Rover <span><i class="fa fa-angle-right"></i></span></a></li>
            <li><a href="#">Classx <span><i class="fa fa-angle-right"></i></span></a></li>
            <li><a href="#">Classimo <span><i class="fa fa-angle-right"></i></span></a></li>
            <li><a href="#">Nue Bike[Gen 2] <span><i class="fa fa-angle-right"></i></span></a></li>
            <li><a href="#">Nue Bike[Gen 1] <span><i class="fa fa-angle-right"></i></span></a></li>

          </ul>
        </div>

      </div><!---footer-link-end-->

      <!---footer-link-->
      <div class="footer-link">
        <!---footer-link-title-->
        <div class="footer-link-title">
          <h2>Blog</h2>
        </div>

        <div class="footer-link-items">
          <ul>
            <li><a href="#">Xtreme <span><i class="fa fa-angle-right"></i></span></a></li>
            <li><a href="#">Rover <span><i class="fa fa-angle-right"></i></span></a></li>
            <li><a href="#">Classx <span><i class="fa fa-angle-right"></i></span></a></li>
            <li><a href="#">Classimo <span><i class="fa fa-angle-right"></i></span></a></li>
            <li><a href="#">Nue Bike[Gen 2] <span><i class="fa fa-angle-right"></i></span></a></li>
            <li><a href="#">Nue Bike[Gen 1] <span><i class="fa fa-angle-right"></i></span></a></li>

          </ul>
        </div>

      </div><!---footer-link-end-->

      <!---footer-link-->
      <div class="footer-link">
        <!---footer-link-title-->
        <div class="footer-link-title">
          <h2>Dirodi</h2>
        </div>

        <div class="footer-link-items">
          <ul>
            <li><a href="#">Xtreme <span><i class="fa fa-angle-right"></i></span></a></li>
            <li><a href="#">Rover <span><i class="fa fa-angle-right"></i></span></a></li>
            <li><a href="#">Classx <span><i class="fa fa-angle-right"></i></span></a></li>
            <li><a href="#">Classimo <span><i class="fa fa-angle-right"></i></span></a></li>
            <li><a href="#">Nue Bike[Gen 2] <span><i class="fa fa-angle-right"></i></span></a></li>
            <li><a href="#">Nue Bike[Gen 1] <span><i class="fa fa-angle-right"></i></span></a></li>

          </ul>
        </div>

      </div><!---footer-link-end-->

    </div><!---footer-section-2-end-->

    <!--payment-method-->
    <div class="payment-method">
      <ul>
        <li><a href="#"><img src="/assets/images/junk/mastercard.png" alt=""></a></li>
        <li><a href="#"><img src="/assets/images/junk/rocket.png" alt=""></a></li>
        <li><a href="#"><img src="/assets/images/junk/bkash.png" alt=""></a></li>
        <li><a href="#"><img src="/assets/images/junk/visa.png" alt=""></a></li>
      </ul>
    </div>

  </div>
</footer><!--footer-end-->
