@import "src/theme/variables";


a {
  color: #000;
}

span, i {
  color: #858585;
}

.container {
  display: block;
  max-width: 1440px;
  width: 90%;
  height: auto;
  margin: 0 auto;
}

/*** start-main-coding ***/

/**** footer-area ****/
.footer-area {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: #f3f5f7;
}

/*** footer-section1" ***/
.footer-section1 {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  padding: 8vh 0 5vh 0;
  box-sizing: border-box;
  border-bottom: 2px solid #eee;
}

.footer-section1-support {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px 15px;
  box-sizing: border-box;
}

.footer-section1-support-details {
  text-align: center;
  display: block;
}

.support-icon {
  display: block;
  margin-bottom: 5px;
}

.support-icon span {
  color: #5a5c5e;
  font-weight: 600;
  font-size: 45px;
  display: block;
}

.support-title {
  display: block;
  margin-bottom: 5px;
}

.support-title h2 {
  color: #2d2d35;
  font-weight: 600;
  font-family: $font-en-primary;
  font-size: 16px;
  display: block;
  line-height: 20px;
}

.support-description {
  display: block;
  margin-bottom: 5px;
}

.support-description p {
  color: #a5a5a8;
  width: 90%;
  margin: auto;
  font-weight: 400;
  font-style: normal;
  font-family: $font-en-primary;
  font-size: 14px;
  display: block;
  line-height: 18px;
  text-transform: lowercase;
}

.learn-more {
  display: block;
}

.learn-more a {
  color: #4e7eac;
  font-weight: 500;
  font-family: $font-en-primary;
  font-size: 14px;
  display: block;
}

.learn-more a span {
  color: #4e7eac;
  font-size: 13px;
  position: relative;
  top: 1px;
  left: 2px;
  display: inline-block;
}

.footer-section1-newsletters {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.footer-newsletters-title {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.footer-newsletters-title h2 {
  color: #2d2d35;
  font-weight: 600;
  font-style: normal;
  font-family: $font-en-primary;
  display: block;
  font-size: 18px;
  line-height: 24px;
}

.news-letters-form {
  display: block;
}

.news-letters-form form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.news-letters-form form .news-letters-email {
  margin-right: 10px;
}

.news-letters-email input {
  display: block;
  width: 100%;
  background-color: #eceef0;
  padding: 7px 20px;
  box-sizing: border-box;
  border: 1px solid #dddfe0;
  outline: none;
  color: #B1BCDB;
  font-weight: 500;
  font-size: 15px;
  border-radius: 30px;
  font-family: $font-en-primary;
  text-align: center;
}

.news-letters-email {
  width: 100%;
}

.news-letters-submit {
  max-width: 120px;
  width: 100%;
}

.news-letters-submit button {
  width: 60px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0269ca;
  outline: none;
  border: none;
  color: #fff;
  font-family: $font-en-primary;
  font-weight: 500;
  font-size: 16px;
  border-radius: 20px;
  transition: all 0.3s linear;
}

.newsletters-description p {
  color: #a5a5a8;
  margin: auto;
  font-weight: 400;
  font-style: normal;
  font-family: $font-en-primary;
  font-size: 14px;
  display: block;
  line-height: 24px;
  text-transform: lowercase;
}

/*** footer-menu ***/
.footer-menu {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-gap: 20px 20px;
  margin-bottom: 20px;
}

.footer-menu-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer-menu-left ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-menu-left ul li {
  display: inline-block;
  margin-right: 6px;
}

.footer-menu-left ul li:last-child {
  margin: 0;
}

.footer-menu-left ul li a {
  color: #2d2d35;
  font-weight: 600;
  font-family: $font-en-primary;
  font-size: 14px;
  display: block;
  transition: all 0.3s linear;
}

.footer-menu-left ul li a:hover {
  color: #2d407e;
}

.footer-menu-left ul li a span {
  margin-left: 5px;
}

.footer-menu-right {
  display: block;
  text-align: right;
}

.footer-menu-right ul {
  list-style: none;
  padding: 0;
}

.footer-menu-right ul li {
  display: inline-block;
  margin-left: 8px;
}

.footer-menu-right ul li:first-child {
  margin: 0;
}

.footer-menu-right ul li a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 5px 0 #eee;
  border-radius: 50%;
  border: 1px solid #ddd;
  transition: all 0.3s linear;
}

.footer-menu-right ul li a:hover {
  background-color: #0866c4;
  color: #fff;
  border-color: #0866c4;
}

/*** footer-section-2 ***/
.footer-section-2 {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px 15px;
}

.footer-link {
  display: block;
  margin-bottom: 20px;
}

.footer-link-title {
  margin-bottom: 10px;
  display: block;
}

.footer-link-title h2 {
  color: #141417;
  font-weight: 600;
  font-family: $font-en-primary;
  text-transform: uppercase;
  font-size: 18px;
}

.footer-link-items {
  display: block;
}

.footer-link-items ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-link-items ul li {
  display: block;
  margin-bottom: 6px;
}

.footer-link-items ul li a {
  color: #7e8081;
  font-family: $font-en-primary;
  font-weight: 500;
  font-size: 14px;
  display: block;
  line-height: 22px;
  transition: all 0.3s linear;
}

.footer-link-items ul li span {
  font-size: 12px;
  display: inline-block;
  color: #7e8081;
  position: relative;
  top: 1px;
  transition: all 0.3s linear;
}

.footer-link-items ul li a:hover span {
  color: #0866c4;
  left: 3px;
}

.footer-link-items ul li a:hover {
  color: #0866c4;
}

.payment-method {
  display: block;
  padding-bottom: 20px;
}

.payment-method ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.payment-method ul li {
  display: inline-block;
  margin-right: 5px;
}

.payment-method ul li a img {
  display: block;
  max-width: 50px;
  width: 100%;
  border: 1px solid #ddd;
}


/*** footer **/
@media(max-width: 1125px) {
  .footer-section1 {
    grid-template-columns: 4fr 2.3fr;
  }
}

@media(max-width: 1075px) {
  .footer-section1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-section1-newsletters {
    max-width: 500px;
    margin-top: 10px;
  }
}

@media(max-width: 620px) {
  .footer-section1-support {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-section1 {
    padding: 5vh 0 4vh 0;
  }
  /* .footer-section1-newsletters{
      max-width: 500px;
      margin: auto;
      text-align: center;
  }
  .news-letters-form form{
      justify-content: center;
  }
  .news-letters-submit{
      max-width: 60px;
  } */
}

@media(max-width: 620px) {

  .news-letters-form form {
    display: block;
  }
  .news-letters-email {
    margin-bottom: 10px;
  }
  .news-letters-submit {
    max-width: 100px;
    width: 100%;
  }
  .news-letters-submit button {
    border-radius: 5px;
    width: 100px;
  }
}

@media(max-width: 655px) {
  .footer-menu {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-menu-right {
    text-align: left;
  }
}

@media(max-width: 940px) {
  .footer-section-2 {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-link {
    margin-bottom: 0;
  }
}

@media(max-width: 600px) {
  .footer-section-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 400px) {
  .footer-section-2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .payment-method ul {
    text-align: left;
  }
}


