<!--header-area-->
<section class="header-area">
  <div class="container">
    <!--header-main-->
    <div class="header-main">
      <!---logo-area-->
      <div class="logo">
        <a href="#"><img src="/assets/brand/dirodi-logo.png" alt=""></a>
      </div>
      <!--menu-area-->
      <div class="menu-area">
        <ul>
          <li><a href="#">Products</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
      <!--test-and-nav-bar-area-->
      <div class="testAndNavBar">
        <ul>
          <li><a href="#">Free Test</a></li>
          <li class="bar"><span><i class="fa fa-bars"></i></span></li>
        </ul>
      </div>

    </div> <!--header-main-end-->
  </div>
</section> <!--header-area-end-->


