<!---card-->
<div class="card" [routerLink]="['/blog-details', data?.slug]">
  <!---card-img-start-->
  <div class="card-img">
    <img checkImageDefault [src]="data?.image" alt="">
  </div><!---card-img-end-->

  <!---card-details-->
  <div class="card-details">
    <div class="card-tag">
      <span>{{data?.platform?.subCategoryName}}</span>
    </div>
    <div class="card-title">
      <a href="javascript:">
        {{data?.title}}
      </a>
    </div>
    <div class="card-description">
      <p>{{data?.shortDescription | textWrap: 150}}</p>
    </div>
  </div><!---card-details-end-->
  <!--card-user-->
  <div class="card-user">
    <div class="card-user-img">
      <img checkImageProfile [src]="data?.author?.profileImg" alt="">
    </div>
    <div class="card-user-details">
      <h3>By:<a href="javascript:">{{data?.author?.fullName}}</a></h3>
      <span class="card-activity">{{data?.createdAt | momentDate}}</span>
    </div>
  </div><!--card-user-end-->

</div><!---card-end-->
