


<section class="admin-data-sec">
  <div class="top-data-header">
    <div class="title">
      <h2>Experiences</h2>
    </div>

    <div class="action">

      <button type="button" mat-raised-button color="primary" [routerLink]="['../', 'add-experience']">
        <mat-icon>add</mat-icon>
        Add New
      </button>

    </div>

  </div> <!-- END TOP DATA HEADER -->

  <hr class="center-square">

  <div class="table-wrapper space">

    <div class="table-action" [class.dual]="activeSort || filter.length">
      <div class="left" *ngIf="activeSort || filter.length">
        <button mat-stroked-button color="accent" (click)="onRemoveAllQuery()">
          <mat-icon>close</mat-icon> Clear Filter
        </button>
      </div>

      <div class="right" *ngIf="selectedIds && selectedIds.length">
        <button mat-stroked-button color="primary" [matMenuTriggerFor]="menu">
          Change Status
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openConfirmDialog('edit', {body: 'Unpublish'})">Unpublish</button>
          <button mat-menu-item (click)="openConfirmDialog('edit', {body: 'Publish'})">Publish</button>
        </mat-menu>

        <button mat-stroked-button color="warn" (click)="openConfirmDialog('delete')">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div> <!-- END Table Action -->

    <table>
      <tr>
        <th>Experience Type</th>
        <th>Start Year</th>
        <th>End Year</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
      <tr
        *ngFor="let data of portfolio?.experiences | paginate: { itemsPerPage: productsPerPage, currentPage: currentPage, totalItems: totalProducts } ; let i = index">
        <td>{{data.experienceType?.title}}</td>
        <td>{{data.startYear}}</td>
        <td>{{data.endYear}}</td>
        <td>{{data.description}}</td>
        <td class="td-action">
          <button [routerLink]="['../', 'edit-service', data?._id]" mat-mini-fab>
            <mat-icon>edit</mat-icon>
          </button>

          <button style="margin-left: 5px;" color="warn" mat-mini-fab>
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </div>

  <div class="pagination-container">
    <pagination-controls
      class="data-pagination"
      [autoHide]="true"
      [maxSize]="15"
      (pageChange)="onPageChanged($event)">
    </pagination-controls>
  </div>     <!-- END PAGINATION -->


  <!-- LOADING TEMPLATE -->
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.5)" size="medium" color="#fff" type="ball-atom" [fullScreen]="false">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>

</section>



