<!---main-conctainer-->
<section class="main-container">
  <!---service-section1--->
  <section class="service-section1">
    <!--quesion-->
    <div class="question">
      <!--icon-->
      <div class="question-icon">
        <i class="fa fa-briefcase"></i>
      </div>
      <!--quesion-text-->
      <div class="question-text">
        <span>What do I do?</span>
      </div>
    </div><!--quesion-end-->
    <!---section-header--->
    <div class="section-header">
      <h2>Services</h2>
    </div><!---section-header--->

    <!---section1-main-->
    <div class="service-section1-main">
      <app-service-card [cardData]="cardData" *ngFor="let cardData of serviceArray"></app-service-card>
    </div>

  </section> <!---service-section1-end--->
  


</section><!---main-container-end-->
