<!---main-conctainer-->
<section class="main-container">
  <!---service-section1--->
  <section class="service-section1">
    <!--quesion-->
    <div class="question">
      <!--icon-->
      <div class="question-icon">
        <i class="fa fa-briefcase"></i>
      </div>
      <!--quesion-text-->
      <div class="question-text">
        <span>What do I do?</span>
      </div>
    </div><!--quesion-end-->
    <!---section-header--->
    <div class="section-header">
      <h2>Services</h2>
    </div><!---section-header--->

    <!---section1-main-->
    <div class="service-section1-main">
      <app-service-card [cardData]="cardData" *ngFor="let cardData of []"></app-service-card>
    </div>

  </section> <!---service-section1-end--->

  <!-----SERVICE-SECTION-2------->
  <section class="service-section-2">
    <!--quesion-->
    <div class="question">
      <!--icon-->
      <div class="question-icon">
        <i class="fa fa-cloud"></i>
      </div>
      <!--quesion-text-->
      <div class="question-text">
        <span>What say my clients</span>
      </div>
    </div><!--quesion-end-->
    <!---section-header--->
    <div class="section-header">
      <h2>Testimonials</h2>
    </div><!---section-header--->

    <!----testomonials-carousel-->
    <div>
      <owl-carousel-o class="testimonial-carousel" [options]="carouselCntrlService.testiMonialCarousel">
        <ng-container *ngFor="let testimonialMemberData of []">
          <ng-template carouselSlide>
            <app-testimonial-carousel-card
              [testimonialMemberData]='testimonialMemberData'></app-testimonial-carousel-card>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div><!----testomonials-carousel-->
  </section> <!-----SERVICE-SECTION-2-END------->

  <!---service-section-3-->
  <section class="service-section-3">
    <!--quesion-->
    <div class="question">
      <!--icon-->
      <div class="question-icon">
        <i class="fa fa-dollar-sign"></i>
      </div>
      <!--quesion-text-->
      <div class="question-text">
        <span>Choose the plan</span>
      </div>
    </div><!--quesion-end-->
    <!---section-header--->
    <div class="section-header">
      <h2>Pricing Plans</h2>
    </div><!---section-header--->
    <!---price-plan-area-->
    <div class="price-plan-area">
      <app-price-card *ngFor="let priceData of []" [priceData]="priceData"></app-price-card>
    </div><!---price-plan-area-->

  </section>  <!---service-section-3-end-->

  <!--services-section-4-->
  <section class="service-section-4">
    <!--quesion-->
    <div class="question">
      <!--icon-->
      <div class="question-icon">
        <i class="fa fa-smile"></i>
      </div>
      <!--quesion-text-->
      <div class="question-text">
        <span>Proudly worked with</span>
      </div>
    </div><!--quesion-end-->
    <!---section-header--->
    <div class="section-header">
      <h2>Clients</h2>
    </div><!---section-header--->
    <!---brand-logo-area-->
    <div class="brand-logo-area">
      <!--brand-logo-->
      <owl-carousel-o class="brand-carousel" [options]="carouselCntrlService.brandLogo">
        <ng-container *ngFor="let data of  []">
          <ng-template carouselSlide>
            <div class="brand-logo">
              <a [routerLink]="[data?.brandLogoRouterLink]" routerLinkActive="router-link-active"><img
                [src]="data?.brandLogoImg" [alt]="data?.brandName"></a>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>

    </div>

  </section>


</section><!---main-container-end-->
