<section class="form-section">

  <div class="header-dialog">
    <h1>Portfolio About</h1>
  </div>

  <form [formGroup]="dataForm" (ngSubmit)="onSubmit()"
        fxLayout="column"
        fxLayoutAlign="space-around center">

    <div class="imag-view">
      <img [src]="pickedImage" alt="" (click)="openComponentDialog()">
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Your Bio</mat-label>
      <textarea [rows]="6" [maxlength]="160" formControlName="bio" matInput
                placeholder="Write your bio with some attractive sentence"></textarea>
      <mat-hint>Max length {{dataForm.get('bio').value | characterCount}} / 160</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Age</mat-label>
      <input formControlName="age" matInput placeholder="Enter age" digitOnly>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Select Residence</mat-label>
      <mat-select formControlName="residence">
        <mat-option *ngFor="let data of countries"
                    [value]="data.value">{{data.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput placeholder="Enter email" type="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone No</mat-label>
      <input formControlName="phoneNo" matInput placeholder="Enter phoneNo" digitOnly>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>CV Link</mat-label>
      <input formControlName="cvLink" matInput placeholder="Enter cv link">
    </mat-form-field>


    <button class="submit-btn" mat-raised-button color="primary" type="submit">
      <mat-icon>done</mat-icon>
      Save Data
    </button>
  </form>
</section>



<!-- LOADING TEMPLATE -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.5)" size="medium" color="#fff" type="ball-atom" [fullScreen]="false">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
